body {
  margin: 0 auto;
  width: 313px;
}

#jogador {
  border: solid 1px red;
  text-align: center;
  width: 100px;
  height: 100px;
}

.tabuleiro {
  display: flex;
  width: 312px;
  flex-wrap: wrap;
}

.celula {
  text-align: center;
  width: 100px;
  height: 100px;
  cursor: pointer;
}

img {
  width: 80px;
  height: 80px;
}

#a1 {
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}

#a2 {
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-bottom: solid black 1px;
}

#a3 {
  border-left: solid black 1px;
  border-bottom: solid black 1px;
}

#b1 {
  border-right: solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

#b2 {
  border: solid black 1px;
}

#b3 {
  border-left: solid black 1px;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
}

#c1 {
  border-right: solid black 1px;
  border-top: solid black 1px;
}

#c2 {
  border-left: solid black 1px;
  border-right: solid black 1px;
  border-top: solid black 1px;
}

#c3 {
  border-left: solid black 1px;
  border-top: solid black 1px;
}